#textdomain wesnoth-Girl_unDead

[scenario]


    id=04_training
    name= _ "Training"
    next_scenario=05_invasion
    map_data="{~add-ons/Girl_unDead/maps/04_training.map}"
    {TURNS 36 32 28}
    {DEFAULT_SCHEDULE}
    {SCENARIO_MUSIC "the_deep_path.ogg"}

    victory_when_enemies_defeated=no

   [item]
       x=5
       y=20
       image=items/gohere.png 
    [/item]

    [side]
        side=1
        id=Malica
        name= _ "Malica"
        type=Lady Prelich
        controller=human
        team_name=unfdead
        user_team_name= _ "Malica"
        canrecruit=yes
        fog=yes
        {GOLD 200 200 200}
        recruit=Vampire Bat,Walking Corpse,Skeleton,Skeleton Archer
    [/side]

    [side]
        side=2
        id=Garak
        controller=ai
        team_name=dessart troll
        user_team_name= _ "dessart troll"
        type=Great Troll
        canrecruit=yes
        recruit=Troll Whelp
        {GOLD 50 70 90}
    [unit]
        side=2
        type=Troll
        x,y=4,12
        ai_special=guardian
    [/unit]
    [unit]
        side=2
        type=Troll Rocklobber
        x,y=3,16
        ai_special=guardian
    [/unit]
    #ifdef HARD
    [unit]
        side=2
        type=Troll
        x,y=2,14
        ai_special=guardian
    [/unit]    
    #endif
    [/side]

    [side]
        side=3
        no_leader=yes
        team_name=dessart troll
        user_team_name= _ "Beasts"
        [ai]
            aggression=1.0
            caution=-4.0
            grouping=no
            ai_special=guardian
            village_value=0
        [/ai]
    [unit]
        side=3
        type=Giant Scorpion
        x,y=16,5
        ai_special=guardian
    [/unit]

    #ifdef NORMAL
    [unit]
        side=3
        type=Giant Scorpion
        x,y=6,2
        ai_special=guardian
    [/unit]
    #endif
    #ifdef HARD
    [unit]
        side=3
        type=Giant Scorpion
        x,y=6,2
        ai_special=guardian
    [/unit]
    #endif
    [unit]
        side=3
        type=Giant Spider
        x,y=2,20
        ai_special=guardian
    [/unit]
    [unit]
        side=3
        type=Giant Mudcrawler
        x,y=15,12
        ai_special=guardian
    [/unit]
    [/side]

    [story]
        [part]
            story= _ "Poet searched the village and reported a surprising fact."
        [/part]
        [part]
            story= _ "There were no villagers, and soldiers of the Kingdom were burning down every building."
        [/part]
        [part]
            story= _ "That night, he captured a soldier to find out what was going on.  The soldier said every villager had become a walking corpse, so the corpses and village were being burned up."
        [/part]
        [part]
            story= _ "Poet asked about Malica's mother, but the soldier knew nothing about her.  There was only a field where the house had stood."
        [/part]
        [part]
            story= _ "The village was never rebuilt."
        [/part]
        [part]
            story= _ "When Malica heard this, she became inconsolable.  But slowly, she got used to her new life among the undead.  Although the undead lacked human feelings, Varas and Poet were kind in comparison to how the villagers had treated her."
        [/part]
    [/story]

    [event]
        name=prestart
        [objectives]
            [objective]
                description= _ "Leave the valley"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Malica"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Poet"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]

        [unit]
            side=1
            type=Revenant Loyal
            id=Poet
            name= _ "Poet"
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
            {IS_LOYAL}
            x,y=15,17
        [/unit]
    [/event]

    [event]
        name=start
        [message]
            speaker=Malica
            message= _ "I miss the cave.  With only you in a place like this I feel lonely."
        [/message]
        [message]
          speaker=Poet
          message= _ "Sorry I can't help, but because you are weak the Boss said we must train"
        [/message]
        [message]
            speaker=Malica
            message= _ "I'm sorry."
        [/message]
        [message]
          speaker=Poet
          message= _ "No need to apologize."
        [/message]
        [message]
            speaker=Malica
            message= _ "I wonder if I can do this? ..."
        [/message]
        [message]
          speaker=Poet
          message= _ "Are you crying again?  Where do you keep tears in a dry skull?  We have no time for crying as we must rid this valley of the monsters."
        [/message]
        [message]
            speaker=Malica
            message= _ "I'm sorry."
        [/message]
        [message]
          speaker=Poet
          message= _ "Stop apologizing!  Let's do what we are here for and then we can go home."
        [/message]
        [message]
            speaker=Malica
            message= _ "I'm so... Yes, I should become stronger for Dad."
        [/message]
    [/event]

    {ON_SIGHTING () 1 side=2 (
        [message]
          speaker=Poet
          message= _ "Trolls!  No one said that dirty trolls were here.  We must get to the fortress to the north or we will be overpowered."
        [/message]
    )}

    [event]
        name=moveto       
        [filter]
            side=1
        [/filter]
        [filter]
            x=13,14,15,16,17,18,13,14,15,16,17,18
            y=5,5,5,5,5,5,6,6,6,6,6,6
        [/filter]
        [message]
          speaker=Poet
          message= _ "Good!  There is the old fort.  My Princess, summon your minions there."
        [/message]
        [message]
            speaker=Malica
            message= _ "I don't know if I can?"
        [/message]
        [message]
          speaker=Poet
          message= _ "You can, and we need help to win this fight."
        [/message]
    [/event]


    [event]
        name=die
        [filter]
            id=Garak
        [/filter]
        [message]
          speaker=Poet
          message= _ "You did well, my Princess."
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            id=Malica
        [/filter]
        [filter]
            x=5
            y=20
        [/filter]
        [message]
          speaker=Poet
          message= _ "We did it."
        [/message]
        [message]
            speaker=Malica
            message= _ "Thank you.  I needed your help."
        [/message]
        [message]
          speaker=Poet
          message= _ "But you haven't grown much stronger."
        [/message]
        [message]
            speaker=Malica
            message= _ "I'm so..."
        [/message]
        [message]
          speaker=Poet
          message= _ "Do not say sorry!"
        [/message]
        [item]
            x,y=9,18
            image="units/undead-necromancers/necromancer+female.png"
        [/item]
        [scroll_to]
            x,y=9,18
        [/scroll_to]
        [message]
            speaker=narrator
            image="portraits/humans/transparent/necromancer+female.png"
            message= _ "Stupid girl, You had better keep yourself locked in a dark cave rather than beating the troll I threw."
        [/message]
        [message]
            speaker=Malica
            message= _ "Who are you. For what purpose did you disturb me?"
        [/message]
        [message]
            speaker=narrator
            image="portraits/humans/transparent/necromancer+female.png"
            message= _ "Listen. If you do not want to be destroyed, you better not do unnecessary things."
        [/message]
        [message]
            speaker=Malica
            message= _ "She has disappeared."
        [/message]
        [message]
          speaker=Poet
          message= _ "I am concerned about what she was saying. But let's go back to the cave now."
        [/message]



        [remove_item]
            x,y=9,18
        [/remove_item]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 0}
        [/endlevel]
    [/event]

    [event]
        name=last_breath
        [filter]
            id=Malica
        [/filter]
        [message]
            speaker=Malica
            message= _ "Dad, Poet, I'm sorry I was not strong."
        [/message]
        [message]
            speaker=Poet
            message= _ "Annoying!  Do not say sorry, my Princess."
        [/message]
        [message]
            speaker=Malica
            message= _ "Sorry, sorry... "
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last_breath
        [filter]
            id=Poet
        [/filter]
        [message]
            speaker=Poet
            message= _ "I can not believe I've been defeated."
        [/message]
        [message]
            speaker=Malica
            message= _ "I was too weak to help ... I'm sorry."
        [/message]
        [message]
            speaker=Poet
            message= _ "Do not say sorry, my Princess..."
        [/message]
        [message]
            speaker=Malica
            message= _ "Poet! Do no die!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

[/scenario]
